# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Script.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\van\My project\Assets\Script\.idea\.idea.Script.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
